body{margin:0 font:12px Myriad Pro,Tahoma}

ul,li,h1,h2,h3,h4,h5,p{
  margin:0;
  padding:0;
  list-style:none;
}

#header{
  background-color: #3b5998; height: 42px;
}
#header .header{
  width:980px;
  height: 42px;
  margin:0 auto;
  background: url("");
  background-repeat: no-repeat;
  position: relative;
}
#header .header .ust_sec{position:absolute; left:150px; top:15px; cursor:pointer}
#header .header .ust_sec li {width:16px; height:15px;float: right;margin-right:5px}
.ust_sec  li.kisiler{background:url(""), no-repeat;}
.ust_sec  li.mesajlar{background:url("images.png"), no-repeat; margin-top:1px; color:red; font-size:12px; font-weight:bold; text-align:right;}
.ust_sec  li.bildirimler{background:url(""), no-repeat;}

div.alt{width:980px;margin:0 auto}
div.alt .sol{float:left;width:179px}
div.alt .sag{float:left;border:1px solid #1d4088; border-top:none; width:779px; padding:10px}

div.ileti{width:150px;padding:5px ; background:#f8f8f8; border:solid 1px #cbcbcb; position:absolute; left:10px; bottom:80px;}
